.container{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-image{
    padding: 2% 0;
    display: flex;
    align-items: center;
}

img{
    width: 1000px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.details{
    display: flex;
}


.date{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #dc4242;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.tables{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 6%;
    height: 30px;
}

.svg-icon{
    width: 10px;
    height: 10px;
    padding-right: 5%;
}

.left{
    width: 710px;
}

.p{
    width: 650px;
}

.btn {
    background-color: #dc4242;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
  }

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-group label{
    margin-right: 10px;
}

.btn{
    margin: 10px 0;
}