<div class="container">
  <div class="title-image">
    <img [src]="event.image" alt="Event Image">
  </div>

  <div class="details">
    <div class="left">
      <div class="p">
        <p>{{event.description}}</p>
      </div>
    </div>
    <div class="right">
      <div class="table">
        <div class="date">
          <h2>{{formatDate(event.start_datetime)}}</h2>
        </div>
        <div *ngIf="event.location" style="color: rgba(0, 0, 0, 0.7);" class="tables">
          <h6>{{event.location}}</h6>
        </div>
        <div *ngIf="event.start_datetime" style="color: rgba(0, 0, 0, 0.7);" class="tables">
          <h6>{{formatTime(event.start_datetime)}}</h6>
        </div>
        <div *ngIf="event.phone_number" style="color: rgba(0, 0, 0, 0.7);" class="tables">
          <h6>{{event.phone_number}}</h6>
        </div>
        <div *ngIf="event.social_media_url" style="color: rgba(0, 0, 0, 0.7);" class="tables">
          <a [href]="event.social_media_url">Ссылка на событие</a>
        </div>

        <div *ngIf="event.social_media_url" style="color: rgba(0, 0, 0, 0.7);" class="tables">
          <h6>{{event.seats_available}} мест</h6>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
<div class="form">
  <div class="book-title">
    <h4>Бронь билетов</h4>
  </div>
  <form *ngIf="event.seats_available" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="numTickets">Количество билетов:</label>
      <input type="number" class="form-control" id="numTickets" name="numTickets" [(ngModel)]="formData.num_tickets" required>
    </div>
    <button type="submit" class="btn">Забронировать</button>
  </form>
</div>