li{
    list-style: none;
}

a, a:active{
    text-decoration: none;
    color: red;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

ul{
    display: flex;
}

li{
    cursor: pointer;
    padding: 15px 32px;
    transition: all 250ms;
}


.logo{
    cursor: pointer;
    color: red;
}