ul{
    display: flex;
    gap: 10px;
}

.prod{
    width: 200px;
    height: 300px;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.rat{
    display: flex;
    justify-content: center;
}

img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

a{
    text-decoration: none;
    transition: 200ms;
    color: black;
}

a:hover{
    color: red;
}

h3{
    display: flex;
    justify-content: center;

}

.but{
    display: flex;
    justify-content: center;
}

.item-info{
    width: 200px;
}

.p{
    width: 200px;
    height: 100px;
}

p{
    color: rgb(160, 160, 160);
    font-size: 12px;
}

.h3{
    width: 200px;
    height: 100px;
}

.image{
    width: 200px;
    height: 100px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/